@import "./styles/variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* header start*/

.headerContainer {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;

}

.logoText {
    margin-top: 44px;
    margin-left: 96px;
    font-family: "Quella";
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
}

.nav-list {
    max-width: 315px;
    margin: auto;
    margin-top: 48px;
}

.nav-list ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 48px;
}

.nav-list a {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-decoration: none;
}

.homeLink {
    color: var(--black);
}

.productsLink {
    color: #1E1E1E80;
}

.contactsLink {
    color: #1E1E1E80;
}

.nav-icons {
    max-width: 216px;
    display: flex;
    margin-top: 48px;
    margin-right: 96px;
    gap: 40px;
}

.nav-icons :first-child {
    max-width: 22px;
}

.nav-icons :second-child {
    max-width: 18px;
}

.nav-icons :last-child {
    max-width: 21px;
}

@media (max-width:980px) {

    .nav-list {
        display: none;
    }

    .headerContainer {
        justify-content: space-between;
    }

}

@media (max-width:600px) {

    .shopping,
    .person,
    .line {
        display: none;
    }

    .logoText {
        margin-left: 40px;
    }
}

/* header end  */


/* hero start */

.heroContainer {
    max-width: 1248px;
    width: 100%;
    margin: auto;
    margin-top: 50px;
    border-radius: 24px;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hero sol */

.heroLeft {
    max-width: 512px;
    margin-top: 61px;
    margin-left: 68px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.heroMainText {
    max-width: 512px;
}

.heroMainText p {

    font-family: var(--font-f);
    font-weight: 800;
    font-size: 64px;
    line-height: 64px;
}

.heroMetrics {

    display: flex;
    align-items: center;
    gap: 48px;

}

.species {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.species span:first-child {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
}

.species span:last-child {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}

.customers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.customers span:first-child {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
}

.customers span:last-child {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}

.searchBar {
    max-width: 449px;
    width: 100%;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

.searchBar input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;

}

#search {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}

.searchButton {
    background-color: var(--green);
    border-radius: 12px;
    border: none;
    padding: 10px;
    width: 48px;
    height: 48px;
    display: grid;
    place-items: center;
}

/* hero sağ */

.blackBubble {

    position: relative;
    width: 450px;
    height: 400px;
    margin-top: 130px;
    margin-right: 70px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    background-color: var(--black);
    z-index: 1;
}

.heroRight img {
    position: absolute;
    margin-top: 35px;
    margin-left: 70px;
    z-index: 2;
}

@media (max-width:1050px){
    .heroRight{
        display: none;
    }
    .heroContainer{
        display:flex;
        flex-direction: column;
    }
}

/* @media (max-width:580px){
} */


/* hero end */

/* footer start */

.footer {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    background-color: var(--green);
    padding: 50px 60px;
}

.footerTop {
    display: flex;
    justify-content: space-between;
}

.greenmind {
    max-width: 194px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.greenmindText {
    max-width: 189px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.greenmindText h4 {

    font-family: "Quella";
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.greenmindText p {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #1E1E1E80;
}

.greenmindİcons {
    max-width: 194px;
    display: flex;
    justify-content: space-between;
}

.footer-col {
    max-width: 452px;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.information h4 {
    font-family: var(--font-f);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}

.information ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.information a {
    font-family: var(--font-f);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-decoration: none;
    color: #1E1E1E80;
}

.company {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.company h4 {
    font-family: var(--font-f);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}

.company ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.company a {
    font-family: var(--font-f);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-decoration: none;
    color: #1E1E1E80;
}


.contact {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact h4 {
    font-family: var(--font-f);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}

.contact ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-decoration: none;
}

.contact a {
    font-family: var(--font-f);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-decoration: none;
    color: #1E1E1E80;
}

.TermOfUse {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}


.TermOfUse p {

    font-family: var(--font-f);
    font-weight: 500;
    font-size: var(--size-m);
    line-height: 100%;
    color: #1E1E1E80;
}

@media (max-width:800px) {

    .footerTop {
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width:480px){
    .footer-col{
        flex-direction: column;
    }
}


/* footer end*/