@import "./styles/index.css";

/* header start*/

.headerContainer {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    padding-bottom: 20px;
    display: flex;
    align-items: center;

}

.logoText {
    margin-top: 44px;
    margin-left: 96px;
    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
}

.nav-list {
    /* max-width: 315px; */
    margin: auto;
    margin-top: 48px;
}

.nav-list ul {
    display: flex;
    gap: 48px;
}

.nav-list ul li {
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.25s ease;
}

.nav-list ul li:hover {
    background-color: var(--green);
}

.productsLink:hover,
.contactsLink:hover {
    color: var(--black);
}

.nav-list a {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-decoration: none;
}

.homeLink {
    color: var(--black);
}

.productsLink {
    color: #1E1E1E80;
}

.contactsLink {
    color: #1E1E1E80;
}

.nav-icons {
    max-width: 216px;
    display: flex;
    margin-top: 48px;
    margin-right: 96px;
    gap: 40px;
}

.nav-icons :first-child {
    max-width: 22px;
}

.nav-icons :second-child {
    max-width: 18px;
}

.nav-icons :last-child {
    max-width: 21px;
}

@media (max-width:980px) {

    .nav-list {
        display: none;
    }

    .headerContainer {
        justify-content: space-between;
    }

}

@media (max-width:600px) {

    .shopping,
    .person,
    .line {
        display: none;
    }

    .logoText {
        margin-left: 40px;
    }
}

/* header end  */


/* hero start */

.heroContainer {
    max-width: 1248px;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    border-radius: 24px;
    background-color: var(--green);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* hero sol */

.heroLeft {
    max-width: 512px;
    margin-top: 61px;
    margin-left: 68px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.heroMainText {
    max-width: 512px;
}

.heroMainText p {

    font-family: var(--font-f);
    font-weight: 800;
    font-size: clamp(32px, 5vw, 64px);
    line-height: 64px;
}

.heroMetrics {

    display: flex;
    align-items: center;
    gap: 48px;

}

.species {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.species span:first-child {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
}

.species span:last-child {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}

.customers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.customers span:first-child {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
}

.customers span:last-child {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}

.searchBar {
    max-width: 449px;
    width: 100%;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
}

.searchBar input {
    flex: 1;
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;

}

#search {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}

.searchButton {
    background-color: var(--green);
    border-radius: 12px;
    border: none;
    padding: 10px;
    width: 48px;
    height: 48px;
    display: grid;
    place-items: center;
    transition: 0.3s;
}

.searchButton:hover {
    background: #46464680;
    border-color: #090f14;
}

/* hero sağ */

.blackBubble {

    position: relative;
    width: 450px;
    height: 400px;
    margin-top: 130px;
    margin-right: 70px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    border-bottom-left-radius: 200px;
    background-color: var(--black);
    z-index: 1;
}

.heroRight img {
    position: absolute;
    margin-top: 35px;
    margin-left: 70px;
    z-index: 2;
}

@media (max-width:1050px) {
    .heroLeft {
        margin-left: 0px;
    }

    .heroRight {
        display: none;
    }

    .heroContainer {
        display: flex;
        flex-direction: column;
    }
}

/* hero end */

/* Best selling section start */

.besteller {
    max-width: 1248px;
    width: 100%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.productİnfo {
    max-width: 256px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.productİnfo h3 {
    font-family: var(--font-f);
    font-weight: 700;
    font-size: 32px;
    line-height: 130%;
    margin-bottom: 12px;
}

.productİnfo span {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 18px;
    color: #1E1E1E80;
}

.seeMore {
    max-width: 168px;
    background-color: var(--green);
    border-radius: 8px;
    padding: 12px 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.seeMore:hover {
    transform: scale(1.08) rotate(0deg) translate(3px, 4px) skewX(0deg);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    opacity: 1;
    filter: brightness(1);
    background-color: #46464680;
    color: #ffffff;
}

seeMore h4 {
    max-width: 86px;
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: var(--black);
}

.plantİmg {
    display: flex;
    gap: 35px;

}

.plants {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.plants span:first-child {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
}

.plants span:last-child {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #1E1E1E80;
}

@media (max-width:1260px) {
    .besteller {
        flex-direction: column;
        gap: 40px;
        margin-top: 50px;
        align-items: center;
    }

    .productİnfo {
        max-width: 400px;
        margin: auto;
    }
}

@media (max-width:980px) {
    .plantİmg {
        flex-direction: column;
    }
}

/* Best selling section end */

/* About us section start */

.aboutUsContainer {
    width: 100%;
    margin-top: 120px;
}

.aboutUs {
    max-width: 1248px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.aboutUsText {
    max-width: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutUsText h4,
.categoryTitle h4 {
    font-family: var(--font-f);
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    margin-bottom: 15px;
}

.aboutUsText p,
.categoryTitle p {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #1E1E1E80;
}

.order {
    max-width: 1248px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 27px;
}

.advantageOptions {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.advantageOptions span {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #1E1E1E80;
}

.optionsTop {
    max-width: 188px;
    align-items: center;
}

.optionsTop h5 {
    font-family: var(--font-f);
    font-weight: 700;
    font-size: 18px;
    margin-top: 24px;
}

.border {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: var(--green);
    display: grid;
    margin: auto;
    place-items: center;
}

@media (max-width:620px) {

    .order {
        flex-direction: column;
    }
}

@media (max-width:980px) {
    .aboutUsContainer {
        margin-top: 60px;
    }
}

/* About us section end */

/* category section start */

.categoryContainer {
    max-width: 1440px;
    width: 100%;
    margin: auto;
    /* margin-top: 100px; */
}

.categoryTitle {
    margin: auto;
    margin-top: 100px;
    max-width: 262px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.plantOptions {
    max-width: 1440px;
    margin-top: 100px;
    padding-bottom: 80px;
    background-color: var(--green);
    display: flex;
    justify-content: space-around;
}

.plantOptions h5 {
    font-family: var(--font-f);
    font-weight: 700;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 15px;
}

.pictureCenter {
    max-width: 352px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pictureCenter span {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #1E1E1E80;
}

.overflowingİmg {
    margin-top: -50px;
    display: flex;
    flex-direction: column;
    align-items: center
}

.explore {
    max-width: 147px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    gap: 10px;
    border-radius: 8px;
    padding: 12px 24px;
    transition: all 0.3s ease;
}

.explore:hover {
    transform: scale(1.08) rotate(0deg) translate(3px, 4px) skewX(0deg);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    opacity: 1;
    filter: brightness(1);
    background-color: #46464680;
    color: #ffffff;
}

.explore h4 {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: var(--size-m);
    text-align: center;
}

@media (max-width:1100px) {
    .plantOptions {
        display: flex;
        flex-direction: column;
    }

    .pictureCenter {
        margin: auto;
    }

    .overflowingİmg {
        margin-top: 50px;
    }

    .plantOptions {
        padding-bottom: 10px;
        margin-top: 50px;
    }
}

@media (max-width:980px) {
    .categoryTitle {
        margin-top: 50px;
    }
}


@media (max-width:450px) {
    .overflowingİmg {
        display: none;
    }

    .pictureCenter {
        padding-top: 20px;
    }

    .plantOptions img {
        max-width: 320px;
    }
}

@media (max-width:370px) {
    .pictureCenter img {
        max-width: 300px;
    }
}

/* category section end */

/* testimonials section start */

.testimonialContainer {
    max-width: 1440px;
    width: 100%;
    padding-top: 50px;
    margin: 20px auto;
}

.testimonialTitle {
    margin-left: 10px;
    font-family: var(--font-f);
    font-weight: 700;
    font-size: 32px;
}

.testimonials {
    margin-top: 50px;
    display: flex;
    gap: 40px;
    overflow: auto;
}

.firstComment {
    max-width: 800px;
    padding: 50px 40px 0px 40px;
    border-radius: 12px;
    background-color: var(--green);
    white-space: nowrap;
}

.CommentTop span {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: #1E1E1EBF;
}

.commentBottom {
    display: flex;
    justify-content: space-between;
}

.person1 {
    display: flex;
    align-items: center;
}

.personName {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.personName h5,
.stars span {
    font-family: var(--font-f);
    font-weight: 700;
    font-size: 18px;
}

.personName p {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 12px;
    color: #1E1E1E80;
}

.stars {
    display: flex;
    gap: 12px;
    align-items: center;
}

@media (max-width:510px) {
    .testimonialContainer {
        margin-left: 0px;
    }

    .testimonialTitle {
        text-align: center;
        font-size: 25px;
    }
}

@media (max-width:470px) {
    .testimonialTitle {
        font-size: 23px;
    }
}

/* testimonials section end */

/* footer start */

.footer {
    width: 100%;
    margin: auto;
    margin-top: 100px;
    background-color: var(--green);
    padding: 50px 60px;
}

.footerTop {
    display: flex;
    justify-content: space-between;
}

.greenmind {
    max-width: 194px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.greenmindText {
    max-width: 189px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.greenmindText h4 {

    font-family: "Quella";
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.greenmindText p {
    font-family: var(--font-f);
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #1E1E1E80;
}

.greenmindİcons {
    max-width: 194px;
    display: flex;
    justify-content: space-between;
}

.circularFrame {
    width: 50px;
    height: 50px;
    border: 2px solid #1E1E1E80;
    border-radius: 50%;
    display: grid;
    place-items: center;
    padding-top: 4px;
    transition: 0.3s;
}

.circularFrame:hover {
    background: rgb(237, 226, 235);
    transform: scale(1.1);
    border-color: #090f14;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.726);
}

.footer-col {
    max-width: 452px;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.information h4 {
    font-family: var(--font-f);
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
}

.information ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.information li{
   
}
.information a:hover{
    color: #000000;
}

.information a {
    font-family: var(--font-f);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    text-decoration: none;
    color: #1E1E1E80;
     transition: 0.03s;
}

.TermOfUse {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}


.TermOfUse p {

    font-family: var(--font-f);
    font-weight: 500;
    font-size: var(--size-m);
    line-height: 100%;
    color: #1E1E1E80;
}

@media (max-width:800px) {

    .footerTop {
        flex-direction: column;
        gap: 40px;
    }
}

@media (max-width:480px) {
    .footer-col {
        flex-direction: column;
    }
}

/* footer end*/